

.line {
    fill: none;
    stroke: #a651d1;
    stroke-width: 3;
}
  
.overlay {
  fill: none;
  pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
    fill: #a651d1;
    stroke: #434343;
}
  
  .focus circle {
  fill: none;
  stroke: steelblue;
}